body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    flex-shrink: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    padding-bottom: 16px;
}

.info-head {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 24px;
}

.header, .footer {
    background-color: #1F2937;
    padding: 16px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header div {
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section1,
.section2,
.section3,
.section4 {
    padding: 48px 64px;
    display: flex;
}

.section1 {
    background-color: #1F2937;
    gap: 32px;
}

.section1-image {
    height: 200px;
    width: 800px;
    min-height: 100%;
    object-fit: cover;
    align-self: center;
}

.section2 {
    flex-direction: column;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.card p {
    margin-top: 16px;
}

.section2-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    gap: 32px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #1F2937;
    min-width: 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.quote-author {
    font-size: 28px;
    font-weight: 600;
    text-align: right;
}

.section4 {
    justify-content: center;
}

.call-to-action {
    background-color: #3882F6;
    padding: 32px 100px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
}

.section4 button {
    border: 1px solid white;
}

.footer {
    text-align: center;
}

.tmpImg {
    padding: 64px;
}